* {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-size: 14px;
}

body {
  background-color: #e2dfd0;
  margin: 0px;
  padding: 5px 40px;
  display: grid;
  gap: 15px;
}

.header {
  display: flex;
  height: 100px;
  width: 100%;
}

.headerLeft {
  flex-basis: 200px;
  display: flex;
  height: 100px;
}

.logo {
  height: 80px;
  width: 100px;
  margin: auto;
}

.headerMiddle {
  width: 100%;
  flex-basis: 1fr;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.headerMiddle button {
  color: #2e236c;
  background-color: #e2bfd9;
  border: solid #e2dfd0 1px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
  height: 35px;
  width: 85px;
  font-weight: 500;
}

.headerMiddle button:hover {
  transition: 0.5s;
  background-color: #bb9ab1;
  font-weight: 700;
  height: 40px;
  width: 95px;
}

.headerRight {
  flex-basis: 200px;
  display: flex;
  justify-content: stretch;
  align-items: center;
}

.headerRight button {
  border: solid #e2bfd9 1px;
  border-radius: 20px;
  height: 35px;
  width: 85px;
  transition: all 0.5s;
  cursor: pointer;
}

.headerRight button:hover {
  transition: 0.5s;
  font-weight: 700;
  height: 40px;
  width: 95px;
}

.login {
  background-color: #c8a1e0;
}

.sign-up {
  background-color: #674188;
  color: white;
}

.middle {
  display: grid;
  background-color: #e2bfd9;
  width: 700px;
  margin: auto;
  height: 450px;
  grid-template-columns: 1fr 1fr;
  gap: 1.5px;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: #e2dfd0;
  padding: 20px 10px;
}

.image {
  background-color: #e2dfd0;
  display: flex;
}

.mobile {
  height: 450px;
  margin: auto;
}

h1 {
  font-size: 20px;
  font-weight: bold;
}

p {
  line-height: 1.5rem;
}

.footer {
  width: 100%;
}

footer {
  color: #2e236c;
  background-color: #e2bfd9;
  border: solid #e2dfd0 1px;
  border-radius: 10px;
  cursor: pointer;
  height: 50px;
  width: 250px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
