* {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-size: 14px;
}

body {
  background-color: #E2DFD0;
  margin: 0px;
  padding: 20px 30px;
  display: grid;
  gap: 60px;
}

.header {
  display: flex;
  height: 50px;
  width: 100%;
}

.headerLeft {
  flex-basis: 200px;
  height: 100%;
}

.headerMiddle {
  width: 100%;
  flex-basis: 1fr;
}

.headerRight {
  flex-basis: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerRight button, .Login-button {
  color: #2E236C;
  background-color: #E2BFD9;
  border: solid #E2DFD0 1px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
  height: 35px;
  width: 85px;
  font-weight: 500;
}

.headerRight button:hover, .Login-button:hover  {
  transition: 0.5s;
  background-color: #BB9AB1;
  font-weight: 700;
  height: 40px;
  width: 95px;
}

.container {
  float: right;
}

.form {
  background-color: #674188;
  color: white;
  border: none solid 1.5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 70px 35px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.input-container {
  border: solid 1px none;
  display: flex;
  border-radius: 10px;
  height: 30px;
  align-items: center;
  padding: 1px 0px;
}

.icon {
  width: 15%;
  height: 100%;
  margin: auto;
} 
.svg {
  width: 20px;
  height: 100%;
}

input {
  border-radius: 10px;
  background-color: #E2DFD0;
  border: none;
  height: 100%;
  width: 85%;
}
