* {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-size: 0.95rem;
}

body {
  background-color: #E2DFD0;
  margin: 0px;
  padding: 0px;
  display: grid;
  gap: 50px;
}

.header{
  display: flex;
  height: 50px;
  margin-top: 20px;
  padding: 10px 30px;
}

.left {
  flex-basis: 200px;
  height: 100%;
}

.logo{
  width: 100%;
  height: 100%;
}

.middle {
  width: 100%;
  flex-basis: 1fr;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.middle button {
  color: #2E236C;
  background-color: #E2BFD9;
  border: solid #E2DFD0 1px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  padding: 5px 10px;
  transition: all 0.5s;
  height: 35px;
  width: 85px;
  display: inline-block;
  position: relative;
}

.middle button:hover {
  transition: 0.5s;
  background-color: #BB9AB1;
  font-weight: 600;
  height: 40px;
  width: 95px;
  padding-right: 24px;
  padding-left: 8px;
}

.middle button::after{
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.middle button:hover::after {
  opacity: 1;
  right: 10px;
}
.right {
  flex-basis: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.right > button {
  border: solid #E2BFD9 1px;
  border-radius: 20px;
  height: 35px;
  width: 85px;
}
.login {
  background-color: #C8A1E0;
}

.sign-up {
  background-color: #674188;
  color: white;
}

.container {
  display: grid;
  background-color: #E2BFD9;
  width: 700px;
  margin: auto;
  height: 350px;
  grid-template-columns: 1fr 1fr;
  gap: 1.5px;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: #E2DFD0;
  padding: 20px 10px;
}

.image {
  background-color: #E2DFD0;
}

h1 {
  font-size: 20px;
  font-weight: bold;
}

p {
  line-height: 1.5rem;
}

.credits {
  width: 100%;
}

footer {
  color: #2E236C;
  background-color: #E2BFD9;
  border: solid #E2DFD0 1px;
  border-radius: 10px;
  cursor: pointer;
  height: 50px;
  width: 250px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}